<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crete post</title>
</head>
<body>
        <div>
            {% for flashed_message in get_flashed_messages() %}
                <p style="color:white ; background-color: #11557C; padding: 10px;  border-radius: 10px" >
                    {{ flashed_message }}
                </p>
            {% endfor %}

        </div>


        <form method="post">
            <div>
                <label>
                    Заголовок заметки
                    <input name="zagolovok" >
                </label>
            </div>

            <div>
                <label>
                    Содержимое
                    <textarea name="soderjimoe">
                    </textarea>

                </label>
            </div>
            <input type="submit" value="Send">
        </form>
</body>
</html>